<!--
Author: WebThemez
Author URL: http://webthemez.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
Note: Please use our back link in your site (webthemez.com)
-->
<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="ie ie6"> <![endif]-->
<!--[if IE 7 ]>	<html lang="en" class="ie ie7"> <![endif]-->
<!--[if IE 8 ]>	<html lang="en" class="ie ie8"> <![endif]-->
<!--[if IE 9 ]>	<html lang="en" class="ie ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en"><!--<![endif]--><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title><%= site.slogan; %> | <%= site.title; %></title>
<meta name="description" content="<%= site.description; %>">
<meta http-equiv="X-UA-Compatible" content="chrome=1">

<meta property="og:url" content="<%= site.url; %>">
<meta property="og:title" content="<%= site.slogan; %> | <%= site.title; %>">
<meta property="og:description" content="<%= site.description; %>">
<meta property="og:image" content="<%= site.url; %>/images/hotel.jpg">

<link rel="stylesheet" type="text/css" href="/stylesheets/css.css"> 
<!-- <link href="http://subditor.herokuapp.com/favicon.ico" type="image/x-icon" rel="icon">
<link href="http://subditor.herokuapp.com/favicon.ico" type="image/x-icon" rel="shortcut icon"> -->
<link rel="stylesheet" type="text/css" href="/stylesheets/home_styles.css">
<script src="/javascripts/analytics.js" async=""></script>
<script type="text/javascript" src="/javascripts/jquery-1.js"></script>
</head>

<body id="home">
	<div class="notification">
			</div>
	<div id="Header" class="wide-screen">
		<div class="main-container">
			<div class="wrapper">
				<h1><%= site.title; %></h1>	
				<h2 class="intro"><%= site.description; %></h2>
				<div id="socialIcons">
					<ul> 
						<li><a href="https://twitter.com/home?status=<%= site.description; %> <%= site.url; %>" title="Twitter" class="twitterIcon" target="_blank"></a></li>
						<li><a href="https://www.facebook.com/sharer/sharer.php?u=<%= site.url; %>" title="facebook" class="facebookIcon" target="_blank"></a></li>
					</ul>
				</div>
				<center>
					<a href="#subscribe" id="sync" class="scroll button learn-more orange-btn">Cari</a> atau 
					<a href="/search" class="button learn-more orange-btn">Telusuri</a>
				</center>
			</div>
		</div>
	</div>
	<div id="subscribe" class="relative wide-screen blacken">
		<div class="main-container">
		<h2 class="title">Mulai Pencarian Anda Dari Sini</h2>
	<form action="/search" id="SubtitleIndexForm" method="get" accept-charset="utf-8">
		<p>
			<input name="q" placeholder="Masukkan Kata Kunci Misal Nama Tempat" class="time" id="SubtitleTime" type="text">		
		</p>
		<p>
			<input value="Cari Paket Wisata Sekarang" type="submit">		
		</p>
	</form>
	</div>

<script>
$(function(){
	var wrapper = $('<div/>').css({height:0,width:0,'overflow':'hidden'});
	var fileInput = $(':file').wrap(wrapper);

	fileInput.change(function(){
	    $this = $(this);
	    $('#file').text($this.val());
	})

	$('#file').click(function(){
	    fileInput.click();
	}).show();
});
</script>	</div>
<!--
<div id="overlay"></div>
-->
	<!--Scripts-->
	<script type="text/javascript" src="/javascripts/Backstretch.js"></script>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/global.js"></script>
	<footer class="blacken">Created by <a href="/" target="_blank"><%= site.title; %></a> Background by <a href="http://www.landscapehdwalls.com" target="_blank" rel="nofollow">landscapehdwalls</a></footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59982081-1', 'auto');
  ga('send', 'pageview');

</script>
</body></html>