<% include ../partials/layout_header %>
<% include ../partials/layout_navigation %>
<% include ../helpers/functions.ejs %>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Beranda</a></li>
                        <% if (q) { %>
                            <li><a href="/paket-wisata">Paket Wisata</a></li>
                        <% }else { %>
                            <li class="active">Paket Wisata</li>
                        <% } %>
                        <% if (q) { %>
                            <li class="active"><%= q.replace(/\b./g, function(m){ return m.toUpperCase(); }) %></li>
                        <% } %>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="search-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header">Paket wisata<%= (q&&' '+q || '' ); %></h1>
                    <form action="/search" method="GET">
                        <div class="input-group">
                            <input type="text" class="form-control no-border" placeholder="Masukkan kata kunci atau nama tempat" name="q" value="<%= q; %>">
                            <span class="input-group-btn">
                                <button class="btn btn-default no-border" type="submit">CARI</button>
                            </span>
                        </div> 
                    </form>
                    <div class="row popular-search-wrapper">
                        <div class="col-md-3">
                            <span class="popular-search-header">Pencarian Populer</span>
                        </div>
                        <div class="col-md-9">
                            <div class="row popular-search-items">
                                <div class="col-md-3 popular-search"><a href="/paket-wisata/open-trip">Open Trip</a></div>
                                <div class="col-md-3 popular-search"><a href="/paket-wisata/murah">Murah</a></div>
                                <div class="col-md-3 popular-search"><a href="/paket-wisata/honeymoon">Honeymoon</a></div>
                                <div class="col-md-3 popular-search"><a href="/paket-wisata/promo">Promo</a></div>
                                <div class="col-md-3 popular-search"><a href="/paket-wisata/adventure">Adventure</a></div>
                                <div class="col-md-3 popular-search"><a href="/paket-wisata/backpacker">Backpacker</a></div><div class="col-md-3 popular-search"><a href="/paket-wisata/bangkok">Bangkok</a></div><div class="col-md-3 popular-search"><a href="/paket-wisata/rafting">Rafting</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 class="list-header">Daftar paket wisata<%= (q&&' '+q || '' ); %></h2>
                    <span class="search-result">(sekitar <%= web_pages.totalPages*10 %> hasil pencarian)</span>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="result-wrapper">
    <div class="container">        

        <!-- Project One -->
        <div class="row">
            <div class="col-md-8">
              <% if (web_pages.documents) { %>
              <% for (var i = 0, ii = web_pages.documents.length; i < ii; i++) { %>
                <div class="list">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="image-wrapper">
                            <img class="img-responsive" src="<%= site.static_host %>/images/images/<%= web_pages.documents[i]._id; %>.jpg" alt="<%= web_pages.documents[i].title; %>" onerror='this.src="/search/img?id=<%= web_pages.documents[i]._id %>&src=<%= web_pages.documents[i].image %>";' data-id="<%= web_pages.documents[i]._id; %>" data-img-original="<%= site.static_host %>/images/<%= web_pages.documents[i]._id; %>.jpg">
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <h3 class="list-title"><%= web_pages.documents[i].title; %></h3>
                            <h4 class="list-sub-title"><%= web_pages.documents[i].price; %></h4>
                            <p><%= web_pages.documents[i].description; %></p>
                            <a title="Lihat paket wisata lebih lengkap" class="btn btn-primary" href="<%= web_pages.documents[i].url; %>" rel="nofollow" target="_blank">Detail Paket Wisata</a>
                        </div>
                    </div>
                </div>
                <hr>
              <% } %>
              <% } %>

                <!-- Pagination -->
                <div class="row text-center">
                    <div class="col-lg-12">
                        <nav>
                          <div class="pager no-border">
                            <% if (web_pages.prevPage) { %>
	                           <div class="previous"><a href="/paket-wisata<%= (q&&'/'+slugify(q) || '' ); %><%= ( web_pages.prevPage>1&&'?page='+web_pages.prevPage||'' ) %>"><span aria-hidden="true">&larr;</span> Sebelumnya</a></div>
                            <% } %>
                            <% if( web_pages.nextPage ) { %>
        	                    <div class="next"><a href="/paket-wisata<%= (q&&'/'+slugify(q) || '' ); %>?page=<%= web_pages.nextPage %>">Selanjutnya <span aria-hidden="true">&rarr;</span></a></div>
                            <% } %>
                          </div>
                        </nav>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <% include ../partials/sidebar %>
        </div>
        <!-- /.row -->
        </div>
        </div>

<% include ../partials/layout_footer %>
