<% include ../partials/layout_header %>
<% include ../partials/layout_navigation %>
        
        <div class="row">
            <div class="col-md-12">
                <ol class="breadcrumb">
                    <li><a href="/">Beranda</a></li>
                    <% if (q) { %>
                        <li><a href="/paket-wisata">Paket Wisata</a></li>
                    <% }else { %>
                        <li class="active">Paket Wisata</li>
                    <% } %>
                    <% if (q) { %>
                        <li class="active"><%= q.replace(/\b./g, function(m){ return m.toUpperCase(); }) %></li>
                    <% } %>
                </ol>
            </div>
        </div>

        <!-- Page Search -->
        <div class="row">
          <div class="col-md-12">
            <h1 class="page-header">Paket wisata<%= (q&&' '+q || '' ); %></h1>
            <form action="/search" method="GET">
            <div class="input-group">
                    <input type="text" class="form-control no-border" placeholder="Search for..." name="q" value="<%= q; %>">
                    <span class="input-group-btn">
                        <button class="btn btn-default no-border" type="submit">CARI</button>
                    </span>
                
            </div><!-- /input-group -->
            </form>
          </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
        <!-- /.row -->

        <!-- Page Heading -->
        <div class="row">
            <div class="col-md-12">
                <h2 class="list-header">Daftar paket wisata<%= (q&&' '+q || '' ); %></h2>
            </div>
        </div>
        <!-- /.row -->

        <hr>

        <!-- Project One -->
        <div class="row">
            <div class="col-md-8">
              <% if (web_pages.documents) { %>
              <% for (var i = 0, ii = web_pages.documents.length; i < ii; i++) { %>
                <div class="list">
                    <div class="row">
                        <div class="col-sm-3">
                            <img class="img-responsive" src="<%= site.static_host %>/images/images/<%= web_pages.documents[i]._id; %>.jpg" alt="<%= web_pages.documents[i].title; %>" onerror='this.src="/search/img?id=<%= web_pages.documents[i]._id %>&src=<%= web_pages.documents[i].image %>";' data-id="<%= web_pages.documents[i]._id; %>" data-img-original="<%= site.static_host %>/images/<%= web_pages.documents[i]._id; %>.jpg">
                        </div>
                        <div class="col-sm-9">
                            <h3 class="list-title"><%= web_pages.documents[i].title; %></h3>
                            <h4 class="list-sub-title"><%= web_pages.documents[i].price; %></h4>
                            <p><%= web_pages.documents[i].description; %></p>
                            <a class="btn btn-primary" href="<%= web_pages.documents[i].url; %>" rel="nofollow" target="_blank">Buka Situs</a>
                        </div>
                    </div>
                </div>
                <hr>
              <% } %>
              <% } %>

                <!-- Pagination -->
                <div class="row text-center">
                    <div class="col-lg-12">
                        <nav>
                          <ul class="pager no-border">
                            <% if (web_pages.prevPage) { %>
                            <li class="previous"><a href="/paket-wisata/<%= q; %>/<%= web_pages.prevPage %>"><span aria-hidden="true">&larr;</span> Sebelumnya</a></li>
                            <% } %>
                            <% if( web_pages.nextPage ) { %>
                            <li class="next"><a href="/paket-wisata/<%= q; %>/<%= web_pages.nextPage %>">Selanjutnya <span aria-hidden="true">&rarr;</span></a></li>
                            <% } %>
                          </ul>
                        </nav>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <% include ../partials/sidebar %>
        </div>
        <!-- /.row -->

        <hr>

<% include ../partials/layout_footer %>
