<% include ../partials/layout_header_detail %>
<% include ../partials/layout_navigation %>
<% include ../helpers/functions.ejs %>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ol class="breadcrumb">
                        <li><a href="/">Beranda</a></li>
                        <li><a href="/paket-wisata">Paket Wisata</a></li>
                        <li class="active"><%= detail.title %></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="search-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header"><%= detail.title %></h1>
                    <p><%= detail.description %></p>
                    <p><strong>Harga:</strong> <%= detail.price %></p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <h2 class="list-header">Detail Paket Wisata</h2>
                </div>
            </div>
        </div>
    </div>

    <!-- Page Content -->
    <div class="result-wrapper">
    <div class="container">        
        <!-- Project One -->
        <div class="row">
            <div class="col-md-8">
                <div class="detail-wrapper">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="detail-img-container" style="background-image: url('<%= site.static_host %>/images/images/<%= detail._id; %>_original.jpg')">
                            </div>
                        </div>
                    </div>
                    <div class="detail-container">
                        <div class="row">
                            <div class="col-md-12">
                                <%- detail.detail %>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-6">
                                <span class="origin-site">Dari situs: <%= detail.situs %></span>
                            </div>
                            <div class="col-md-6">
                                <a title="Lihat paket wisata lebih lengkap" class="btn btn-primary" href="<%= detail.url; %>" rel="nofollow" target="_blank">Detail Paket Wisata</a>
                            </div>
                        </div>
                    </div>
                </div>

                <hr>


            </div>
            <% include ../partials/sidebar %>
        </div>
        <!-- /.row -->
        </div>
        </div>

<% include ../partials/layout_footer %>
